
.footer {
    background-color: var(--mantine-color-dark-7);
    border-top: 1px solid var(--mantine-color-dark-4);
}

.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--mantine-spacing-md) var(--mantine-spacing-md);

    @media (max-width: 768px) {
        flex-direction: column;
        gap: var(--mantine-spacing-md);
    }
}

.links {
    @media (max-width: 768px) {
        margin-top: var(--mantine-spacing-lg);
        margin-bottom: var(--mantine-spacing-sm);
    }
}
