
.footer {
    background-color: var(--mantine-color-dark-7);
    border-top: 1px solid var(--mantine-color-dark-4);
}

.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--mantine-spacing-md) var(--mantine-spacing-md);

    @media (max-width: 768px) {
        flex-direction: column;
        gap: var(--mantine-spacing-md);
    }
}

.links {
    @media (max-width: 768px) {
        margin-top: var(--mantine-spacing-lg);
        margin-bottom: var(--mantine-spacing-sm);
    }
}

.link {
    color: var(--mantine-color-gray-0);
    text-decoration: none;
    font-size: var(--mantine-font-size-sm);
    font-weight: 500;
    padding: 8px 12px;
    border-radius: var(--mantine-radius-sm);
    transition: background-color 100ms ease;

    &:hover {
        background-color: var(--mantine-color-dark-5);
    }
}
