html, body, #root { margin: 0; padding: 0; height: 100%; min-height: 100%; }
body { background-color: black; }
a { text-decoration: none !important; }
a:link, a:visited { color: #A5D8FF; }
a:hover { color: #339AF0; }
.break { word-break: break-all; }

